<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.marcisme.safari.relinquish</string>
       <key>Developer Identifier</key>
       <string>F7NXW9A7Z8</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>0.1.1</string>
       <key>URL</key>
       <string>https://github.com/marcisme/relinquish/releases/download/v0.1.1/Relinquish.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
